@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  height: 100%;
  background-image: url("/Users/pierdomenicoapruzzese/weather/src/assets/background.jpg");
  font-family: "Quicksand", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  -webkit-text-stroke: 2px black; /* width and color */
  color: whitesmoke;
  font-weight: 800;
}

.daycard,
.panel {
  background: rgba(0, 0, 0, 0.2);
}

.daycard:hover {
  background: rgba(0, 0, 0, 0.05);
}

.panel p:nth-of-type(1n) {
  font-size: 20px;
  font-weight: bolder;
}

.panel p:nth-of-type(2) {
  font-size: 60px;
  font-weight: bolder;
}

.daycard p {
  font: size 14px;
  font-weight: bold;
}
